body, html {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}

.title {
    text-align: center;
    color: #FFFFFF;
    /*animation-name: letcol;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;*/
}

@keyframes letcol {
    from {color: #FFFFFF;}
    to {color: #000000;}
}

.image {
    text-align: center;
    padding: 0 0 10px 0;
    width: 100%;
    height: auto;
    animation-name: im;
    animation-duration: 0.04s;
    animation-iteration-count: infinite;
}

@keyframes im {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.links {
    text-align: center;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    font-weight: bold;
}

footer {
    color: #FFFFFF;
    padding: 0 0 20px 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    animation-name: bor;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
}

footer li{
    display: inline-block;
}

.content {
    text-align: justify;
    color: #FFFFFF;
    /*animation-name: letcol;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;*/ 

}

.content ul {
    list-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    animation-name: bor;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;

}

.contact {
    text-align: center;
    color: #FFFFFF;
}

.contact ul {
    list-style: none;
    text-align: justify;
    padding: 0 50%;
}

img {
    width: 100%;
    height: auto;
}

p {
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    animation-name: bor;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
}

@keyframes bor {
    from {border-color: #FFFFFF;}
    to {border-color: #000000;}
}

div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
}

  div.gallery:hover {
    /*border: 1px solid #777;*/
  }
  
 /* div.gallery img {
    width: 100%;
    height: auto;
  }
  */
  div.desc {
    padding: 15px;
    text-align: center;
  }