html {
  background-color: black;
  background-position: fixed;
  width: auto;
}


body {
  display: block;
  margin: auto;
  width: auto;
  background-size: 100%;
}

.ind {
  background-color: black;
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: larger;
  padding-top: 50px;
  padding-bottom: 20px;
}

.ind1 {
  background-color: black;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: italic;
  padding-top: 20px;
  padding-bottom: 80px;
}

.ima {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  padding: 20px;
}

.lin {
  color: white;
  font-family: monospace;
  font-size: 15px;
}

.p1 {
  color: white;
  text-align: justify;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: monospace;
  font-size: 15px;
}
