body, html {
    background-color: rgb(0, 0, 0);
    background-image: /*url("assets/cover.jpg")*/ radial-gradient(rgba(110, 11, 11, 1), rgba(130, 240, 255, 0.6), indigo);
    color: rgb(222, 222, 222);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    font-size:large;
   /* text-shadow: 0 0 10px #ffff;*/
    /*border: solid 2px #0F0;*/
    width: 100%;
    height: 100%;
    animation-name: letcol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
/*
@keyframes letcol {
    0% {background-image:  radial-gradient(rgba(255, 153, 0, 0.548), rgb(4, 0, 255), orange);}
    50% {background-image: radial-gradient(rgba(250, 160, 30, 1), rgba(20, 40, 250, 1), indigo);}
   /* 20% {background-image: linear-gradient(rgba(10, 160, 130, 1), rgba(120, 40, 250, 1), purple);}
    30% {background-image: conic-gradient(rgba(60, 120, 230, 1), rgba(220, 110, 250, 1), red);}
    50% {background-image: linear-gradient(rgba(150, 160, 130, 1), rgba(60, 60, 60, 1), green);}
    100% {background-image: radial-gradient(rgba(110, 11, 11, 1), rgba(120, 240, 250, 1), orange);} 
}
*/
/*canvas {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
*/
.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
   /* background-color: rgba(0, 0, 0, 0.705);
    border: solid 2px #0F0;*/
    /*text-shadow: 0 0 10px #ffff;*/
    height: auto;
    width: auto;
}

.title {
    text-align: center;
    color: #ffff;
  /*  text-shadow: 0 0 10px #ffff;*/
    /*animation-name: letcol;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;*/
}

.lang {
    text-align: justify;
  /*  text-shadow: 0 0 10px #ffff;*/
}

/*
@keyframes letcol {
    from {color: #FFFFFF;}
    to {color: #000000;}
}
*/
.image {
    text-align: center;
    padding: 0 0 10px 0;
    width: 100%;
    height: auto;
    /*animation-name: im;
    animation-duration: 0.04s;
    animation-iteration-count: infinite;
    */
}
/*
@keyframes im {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}
*/
.links {
    text-align: center;
    color: #ffff;
  /*  text-shadow: 0 0 10px #ffff;*/
}

a {
    color: #ffff;
    font-weight: bold;
   /* text-shadow: 0 0 10px #ffff;*/
}

footer {
    color: #ffff;
    padding: 0 0 20px 0;
    /*text-shadow: 0 0 10px #ffff;*/
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: #0F0;
    animation-name: bor;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;*/
}

footer li{
    display: inline-block;
}

.content {
    text-align: justify;
    color: #ffff;
    /*text-shadow: 0 0 10px #ffff;*/
    /*animation-name: letcol;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;*/ 
    width: auto;
    height: auto;

}

.content ul {
    list-style: none;
    /*border-style: solid;*/
   /* border-width: 2px;*/
    /*border-color: #0F0;*/
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*animation-name: bor;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
*/
}

.content li {
    margin-bottom: 8px;
}

.contact {
    text-align: center;
    color: #ffff;
    /*text-shadow: 0 0 10px #ffff;*/
}

.contact ul {
    list-style: none;
    text-align: center;
    padding: 0 50%;
}
/*
img {
    width: 100%;
    height: auto;
}
*/
p {
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: #0F0;
    */
}

/*
@keyframes bor {
    from {border-color: #FFFFFF;}
    to {border-color: #000000;}
}
*/
div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
}
/*
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  */